<div class="flex gap-x-3 m-6">
      <button class="hover:bg-violet-400 border rounded-full w-32 "><p class="hover:text-white">هدايا رجالي</p> </button>
      <button class="hover:bg-violet-400 border rounded-full w-32 "><p class="hover:text-white">هدايا نسائي</p> </button>
      <button class="hover:bg-violet-400 border rounded-full w-32 "><p class="hover:text-white">هدايا أطفال</p> </button>
      <button class="hover:bg-violet-400 border rounded-full w-32 p-x-5"><p class="hover:text-white"> إكسسوارات سيارات </p></button>
      <button class="hover:bg-violet-400 border rounded-full w-32  "><p class="hover:text-white">  فروات شتويه </p></button>

</div>

