<h1 class="text-center text-red-500">Test component</h1>
<h1 class="text-center text-red-500">Salla</h1>
<h1 class="text-center text-red-500">Test component</h1>
<h1 class="text-center text-red-500">Salla</h1>
<h1 class="text-center text-red-500">Salla</h1>