{# | Variable | Type | Description |
|------------------|---------|---------------------------------| | cart | object
| | | cart.items_count | int | | | cart.total | string | Formatted total ex:
"١٠٠ ر.س" | #}
<header class="flex flex-col">
  <section class="store-header flex justify-between border:border-b border-b-2 border-gray-300">
    <div >lol</div>
    <div >lol</div> 
  </section>
  <section class="grid grid-cols-12">
    <div class="col-span-3 flex justify-center w-full">
      <a href="{{ store.url }}">
        <img
          class="w-[3rem] h-[3rem] rounded-full"
          src="{{ store.logo }}"
          alt="{{ store.name }}"
        />
      </a>
    </div>
    <div class="col-span-6">
      <salla-search inline="true" height="50" class="rounded-xl"></salla-search>
    </div>
    <div class="col-span-3 flex justify-center items-center text-center">
      {% if user.type == "user" %}
      <salla-user-menu></salla-user-menu>
      {% else %}
      <a class="text-lg" style="cursor: pointer !important;" onclick="salla.event.dispatch('login::open')">
        <i class="icon sicon-user"></i>
      </a>
      {% endif %}
      <salla-cart-summary class="mr-5 text-lg text-violet-500">
        <i slot="icon" class="icon sicon-cart text-xl leading-none"></i>
      </salla-cart-sumary>
    </div>
  </section>  
</header>